<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <h1>HELLO WARLDO</h1>
    <hr>

    <p>Add a category</p>
    <form action="/categories">
        Name: <input type="text" name="name"><br>
        Desc: <textarea name="desc" id=""></textarea><br>
        <input type="submit" value="New Category"><br>
    </form>

    <h4>Cars</h4>
    <p>Desc: Here is a list of cool cars</p>
    <ul>
        <ul>- blue cars</ul>
        <ul>- something</ul>
    </ul>
    <form action="/items">
        Add an item:
        <input type="text" name="name"><br>
        <input type="submit" value="New Item">
    </form>

    <p><b>colors</b></p>
    <p>Desc: colors that i like</p>
    <ul>
        <ul>- chartreuse</ul>
        <ul>- aquamarine</ul>
        <ul>- red</ul>
    </ul>
    <form action="/items">
        Add an item:
        <input type="text" name="name"><br>
        <input type="submit" value="New Item">
    </form>

</body>
</html>